---
import BaseHead from "../components/BaseHead.astro";
import ProfileSection from "../components/home/ProfileSection.astro";
import ContactLinks from "../components/home/ContactLinks.astro";
import TechBar from "../components/home/TechBar.astro";
import ExperienceSection from "../components/home/ExperienceSection.astro";
import EducationSection from "../components/home/EducationSection.astro";
import ProjectsSection from "../components/home/ProjectsSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import profile from "../../public/profile.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={profile}
    />
  </head>
  <body class="flex items-center justify-center min-h-screen">
    <main
      class="max-w-4xl mx-auto my-10 bg-white rounded-2xl shadow-2xl px-9 py-11 sm:mx-5 sm:px-5 sm:py-6"
    >
      <ProfileSection />
      <ContactLinks />
      <TechBar />
      <ExperienceSection />
      <EducationSection />
      <ProjectsSection />
    </main>
  </body>
</html>
